.comic-strip-details {
  display: flex;
  flex-direction: column;

  .metadata {
    text-align: center;
    font-weight: bold;
    font-size: 3rem;

    .smaller-text {
      font-size: 1.5rem;
    }
  }

  .comic-strip-image {
    margin-top: 20px;

    // make RESPONSIVE
    width: 100%;
    height: auto;
  }
}
